on: [push]
name: Test
jobs:
  security:
    name: Review security
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - name: gosec
        uses: "cedrickring/golang-action@1.4.1"
        with:
          args: go get github.com/securego/gosec/cmd/gosec; gosec ./... # https://github.com/securego/gosec
  golangci-lint:
    name: runner / golangci-lint
    runs-on: ubuntu-latest
    steps:
      - name: Check out code into the Go module directory
        uses: actions/checkout@v1
      - name: golangci-lint
        uses: reviewdog/action-golangci-lint@v1
  test:
    strategy:
      matrix:
        go-version: [1.13.x]
        platform: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.platform }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v1
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Test
        run: go test ./...
